body{
    background-color: #1a1a1a;
    color: #fff;
}

.home-server-title{
    font-size: 22pt;
    padding: 10px 0 0 0;
    text-align: center;
}

.home-server-logo{
    width: 48px;
    height: auto;
    vertical-align: middle;
    border-radius: 12px;
    margin-right: 5px;
}

.home-server-indicator{
    text-align: center;
    font-size: 10pt;
}