html
    head
        title Application Loading
        meta(name='viewport', content='width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover')
        meta(http-equiv="Content-Security-Policy" content="upgrade-insecure-requests; default-src *; style-src * 'unsafe-inline'; script-src * 'unsafe-inline' 'unsafe-eval'; media-src * filesystem: *; img-src * filesystem: * data:; frame-src * filesystem: blob: *;")
        meta(charset="UTF-8")
        meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")

        meta(name="apple-mobile-web-app-capable", content="yes")
        meta(name="apple-touch-fullscreen", content="yes")
        meta(name="apple-mobile-web-app-title", content=appDisplayName)
        meta(name="apple-mobile-web-app-capable", content="yes")
        meta(name="apple-mobile-web-app-status-bar-style", content="black-translucent")

        //- Material Design Icons
        link(rel='stylesheet', href="css/vendors/materialdesignicons/materialdesignicons.min.css" media="all" type="text/css")

        //- Materialize
        link(type="text/css", href="css/vendors/materialize/materialize.min.css", rel="stylesheet")

        //- Material Icons
        //- link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
        link(type="text/css", href="css/vendors/googlematerialicons/materialicons.css", rel="stylesheet")

        //- Font Awesome
        link(rel='stylesheet', href="css/vendors/fontawesome-6.1.1/css/all.min.css", type='text/css')

        //- JQuery
        script(type="text/javascript", src="js/vendors/jquery/jquery-3.6.0.min.js")

    body       
        div(class="row")
            div(class="col s12 center")
                span Application Area
                //- div(class="progress")
                    div(class="indeterminate")
        div(class="row")
            div(class="col s12 center")
                input#txtOpenMiniAppTest(type="url", placeholder="http://example.com", pattern="https://.*")
                a#btnOpenMiniAppTest(href="#!", class="waves-effect waves-green btn-small") GO


        //- Materialize
        script(type="text/javascript", src="js/vendors/materialize/materialize.min.js")
        script(type="text/javascript", src="js/vendors/materializedatetimepicker/materializedatetimepicker.js")


        script(src="js/loading_miniapp.js")
