extends i_layout

block main_variables
    - var screen_type = 'system'

block content

    include i_modal_take_photo
    include i_modal_set_server

    div(class="reset-psw-header-top-space")
    div(class="row")
        div(class="col s6")
            //- Header Left Area
        div(class="col s6")
            div(class="right")
                include i_theme_switch

    div(class="reset-psw-icon-top-space")
    div(class="row")
        div(class="col s12 center")
            img(src="images/icon.png", class="screen-big-icon-center")
        div(class="col s12 center")
            span(class="screen-big-app-name-center", data-lang="signup-app-name") FalaQui
    
    div#resetPasswordLoading(class="row hide")
        div(class="col s12 center")
            img(src="images/loading-grey.gif")

    //- reset Password Start
    div#resetPasswordAreaStart(class="reset-psw-slide")
        div(class="row")
            div(class="col s12")
                div(class="center")
                    span(class="screen-note-text", data-lang="reset-password-title") Reset Password
        
        div(class="row")
            div(class="col s12")
                div(class="center")
                    span(class="screen-note-text", data-lang="reset-password-start") Receive Code via SMS
       
        div(class="col s12 center")
            span#resetPasswordStartOfflineConnection(class="hide") 
                i(class="material-icons error-message-icon") wifi_off
                span(class="error-message-text", data-lang="offline-connection") No internet connection. Make sure that Wi-Fi or mobile data is turned on, then try again.
        
        div(class="row reset-psw-button-area")
            div(class="col s12 center")
                a#btnResetPasswordReceiveCode(class="btn-small waves-effect waves-light")
                    span(data-lang="receive-code") Receive Code

    //- SMS Validation Code
    div#resetPasswordAreaCode(class="reset-psw-slide")   
        div(class="row")
            div(class="col s12")
                div(class="center")
                    span(class="screen-note-text", data-lang="enter-the-code-sent-by-sms-to-your-phone") Enter the code sent by SMS to your phone number

        div(class="card reset-psw-card")
            div(class="card-content center")
                div(class="row")
                    div(class="col s12")
                        input#txtResetPasswordCode(class="reset-password-code", type="text", pattern="[0-9]*", inputmode="numeric", maxlength="6")                    
                    div(class="col s12 center")
                        span#resetPasswordCodeOfflineConnection(class="hide") 
                            i(class="material-icons error-message-icon") wifi_off
                            span(class="error-message-text", data-lang="offline-connection") No internet connection. Make sure that Wi-Fi or mobile data is turned on, then try again.


        div(class="row reset-psw-button-area")
            div(class="col s12 center")
                a#btnResetPasswordValidateCode(class="btn-small waves-effect waves-light")
                    span(data-lang="validate") Validate

    //- Reset Password Area
    div#resetAreaPasswordSetup(class="reset-psw-slide")
        div(class="row")
            div(class="col s12")
                div(class="center")
                    span(class="screen-note-text", data-lang="reset-password-setup") To reset your password choose a 6-number Password 

        div(class="card reset-psw-card")
            div(class="card-content center")
                div(class="row")
                    div(class="col s12")
                        input#txtResetPasswordSetup(class="reset-password", type="password", pattern="[0-9]*", inputmode="numeric", maxlength="6")
                    div(class="col s12 center")
                        span#resetPasswordSetupTooShort(class="hide") 
                            i(class="fa-solid fa-triangle-exclamation error-message-icon")
                            span(class="error-message-text", data-lang="password-too-short") Password too short
                    div(class="col s12 center")
                        span#resetPasswordSetupOfflineConnection(class="hide") 
                            i(class="material-icons error-message-icon") wifi_off
                            span(class="error-message-text", data-lang="offline-connection") No internet connection. Make sure that Wi-Fi or mobile data is turned on, then try again.


        div(class="row reset-psw-button-area")
                div(class="col s12 center")
                    a#btnResetPasswordSave(class="btn-small waves-effect waves-light disabled")
                        span(data-lang="save") Save

    //- Signout Area
    div(class="row")
        div(class="col s12 center")
            a#btnResetPasswordSignout(class="btn-flat waves-effect waves-light hide")
                span(data-lang="sign-out") Sign out

    script(src="js/resetpassword.js")
