<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="internal-activecontacts" version="0.1.0">
    <name>ActiveContacts</name>
    <description>Contacts Internal Plugin</description>
    <license>Apache 2.0 License</license>
    <keywords>cordova,contacts</keywords>
    <author>João Costa</author>

    <!-- <engines>
        <engine name="cordova" version=">=12.0.0" />
        <engine name="cordova-android" version=">=12.0.0" />
        <engine name="cordova-ios" version=">=7.0.1" />
        <engine name="cordova-browser" version=">=7.0.0" />
        <engine name="cordova-electron" version=">=4.0.0" />
    </engines> -->

    <js-module src="www/internal-activecontacts.js" name="internalactivecontacts">
        <!-- window.internal.activecontacts -->
        <clobbers target="internal.activecontacts" />
    </js-module>
    
    <!-- android -->
    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="ActiveContacts" >
                <param name="android-package" value="app.internal.ActiveContacts"/>
                <!-- <param name="onload" value="true" /> -->
            </feature>
        </config-file>
		<config-file target="AndroidManifest.xml" parent="/*">
			<uses-permission android:name="android.permission.READ_CONTACTS" />
			<!-- <uses-permission android:name="android.permission.WRITE_CONTACTS" /> -->
			<!-- <uses-permission android:name="android.permission.GET_ACCOUNTS" /> -->
		</config-file>


        <source-file src="src/android/ActiveContacts.java" target-dir="src/app/internal" />
    </platform>

    <!-- iOS -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="ActiveContacts">
                <param name="ios-package" value="ActiveContacts" onload="true" />
            </feature>
        </config-file>
        <source-file src="src/ios/ActiveContacts.swift" />
    </platform>

</plugin>